In [2]:
import os
import pathlib as Path
import pandas as pd
import numpy as np

In [3]:
survey_questions=pd.read_csv("C:/Users/Ergo/Desktop/Git_Dotin/Dotin-Columbia-Castone-Team-Alpha-/Data/Extra/survey_questions_with_id_final.csv")
votes=pd.read_csv("C:/Users/Ergo/Desktop/Git_Dotin/Dotin-Columbia-Castone-Team-Alpha-/Data/Clean Data/votes_v2.csv")

In [4]:
survey_questions.head()

   Unnamed: 0   question question_type question_id
0           0     Untidy  bf_questions        bf_1
1           1  Unenvious  bf_questions        bf_2
2           2  Efficient  bf_questions        bf_3
3           3     Unkind  bf_questions        bf_4
4           4   Artistic  bf_questions        bf_5

In [5]:
votes.head()

,Unnamed: 0,id,attr,value,score,user_id,weight,created_date,created_time,created_weekday
0,0,1,psy,bf_1,1,365,0.0,2019-03-05,06:56:35.625896,Tuesday
1,1,2,psy,bf_2,1,365,0.0,2019-03-05,06:56:35.628088,Tuesday
2,2,3,psy,bf_3,1,365,0.0,2019-03-05,06:56:35.629157,Tuesday
3,3,4,psy,bf_4,1,365,0.0,2019-03-05,06:56:35.630054,Tuesday
4,4,5,psy,bf_5,1,365,0.0,2019-03-05,06:56:35.630927,Tuesday

In [ ]:
def concat_questions_with_value(df):
    if